.dashboard-container {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #192A56;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 3px solid #FAD648;
}

.logo {
  height: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  font-weight: bold;
  color: #192A56;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

.dashboard-main {
  padding: 3rem 2rem;
  background-color: #fef9e6;
}

.intro-message {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.dashboard-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FAD648;
  color: #192A56;
  padding: 2rem;
}

.footer-block {
  flex: 1 1 200px;
  margin: 1rem;
}
.logo-img {
  height: 130px;
  max-width: 500px;
  object-fit: contain;
  margin-right: 10px;
}